﻿.pageTitle h1 {
	padding: 20px 0 0 0;
    margin:0;
    color: white;
	text-align: center;
    width:100%;
}

.wrapp {
    margin-left: 18%;
    margin-right:18%;
    margin-top:3%;
    margin-bottom:3%;
    padding-top:1%;
    padding-bottom:100px;
    border-radius:15px;
     background-color: rgba(240, 240, 240, 0.08);
    -webkit-box-shadow: 0px 0px 6px 0px rgba(0,0,0,1);
    -moz-box-shadow: 0px 0px 6px 0px rgba(0,0,0,1);
    box-shadow: 0px 0px 6px 0px rgba(0,0,0,1);
}

.footerHigh {
    height:40px;
}
.user-name{
    color: #039cb7;
    font-size:32px;   
    padding-bottom:10px;
    text-align: center;
}
#edit-info {
    text-align: right;
    margin-right:2%;
    color: #f2daa3;
    font-size:14px;
}

#edit-info a {
    color: #312814;
}
#edit-info a:hover {
    color: #f2daa3;
}
.user {
    width: 100%;
   /* border: 3px solid #039cb7;*/
    text-align: center;
    font-size: 24px;
   
    }

.user td {
    width:50%;
     word-break: break-all;
}
.picture img{
    max-width:250px;
    max-height:250px;

    width: auto;
    height: auto;
}
.left {
    text-align:left;
}
.profile-btns {
    text-align: center;
    margin-top:20px;
}
#view-button {
    margin-left:39%;
}
#next-button{
    margin-left:39%;
}
.users-ads {
    display: none;
    margin-left:15px;
    margin-right: 15px;

}
.ad {
     position: relative;    
     display: inline-block;        
     border: 3px solid #039cb7;    
     padding-top: 15px; 
     padding-bottom: 15px;
     width:100%;
     margin-bottom:15px;
     margin-top:15px;
}
.ad:hover {
    -webkit-box-shadow: 0px 0px 12px 0px rgba(0,0,0,1);
    -moz-box-shadow: 0px 0px 12px 0px rgba(0,0,0,1);
    box-shadow: 0px 0px 12px 0px rgba(0,0,0,1);
}
#date {
    margin-right:25px;
    text-align: right;
    color: black; 
    display: inline-block;
    position: relative; 
    margin-bottom:0;
    margin-top:0;
    width:90%;

}
#text {
    font-size: 18px;
    margin-bottom:5px;
    margin-top:10px;
    text-align: center;
    position: relative; 
    display:inline-block;
    word-break: break-all;
    width:100%; 
}
.title{
    font-size:24px;
    font-weight: bold;
    text-align:center;
    color: #039cb7;
    margin:0;
}
#hide-btn {
    display: none;
}
#city {
    text-align:left;
    margin-left: 15px;    
    display: inline;     
}
.user-actions{
    color: black;
    font-size:15px;
    text-align:right;
    margin-right:10px;
    margin-bottom:10px;
}
.user-actions span {
    margin-right:5px;
}
.user-actions span:hover {
    color: #f2daa3;
}
.status-en {
     color: #ff006e;
     font-size:14px;
     display:block;
     margin-left: 15px;
}
.status-dis {
     color: #808080;
     font-size:14px;
     display:block;
     margin-left: 15px;
}
.views {
    font-size:14px;
    display:block;
    margin-left: 15px;
}
.subscribers{
    color: black;
}
.subscribers:hover {
    color: #039cb7;
}
#create-button {
    margin-left:39%;
}
#sorry-message {
    text-align: center;
    color: white;
    margin-top:26%; 
    font-size:32px;
    font-family:Tahoma;
}
#suitableAuthor {
    margin:0;
}
#suitableAuthor a{
    font-weight: bold;
    font-size:22px;
    color: white;
    margin:0;
}
#suitableAuthor a:hover {
    color: black;
}
#suitableAge {
    font-size:11px;
    margin:0;
}
#suitableDate {
    margin-top:-20px;
    margin-bottom:0;
    text-align:right; 
    color: white;       
}
#suitableDescription{
    text-align:center;
    font-size:20px;
}
#suitableCity {
    color:white;
    font-size:14px;
    margin:0;
}
#suitableLink{
    margin-top:-20px;
    margin-bottom:0;
    text-align:right;
}
#suitableLink a{
    color: #312814;
    text-align: right;
    margin:0;
    font-size: 14px;

}
#suitableLink a:hover {
    text-decoration: underline;
}
#searchLink {
     margin:15px 0 0 0;     
     text-align:center;
}
#searchLink a {
 color: #312814;
 font-size:18px;
}
#searchLink a:hover {
    text-decoration: underline;
}
img{   
    -webkit-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.5);
}