﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />    
    <link rel="shortcut icon" href="~/Styles/Image/icon_logo.png" type="image/png">
    <title>EasyVpyska</title>
    <link href="~/Fonts/font-awesome-4.2.0/css/font-awesome.min.css" rel="stylesheet" />
    <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon" />
    <script src="~/Scripts/libs/classie/modernizr.custom.2.8.3.js"></script>

    @System.Web.Optimization.Styles.Render("~/bundles/Layout")
    
    @RenderSection("Styles", false)
</head>
<body>
    <div class="container">
        <div class="menu-wrap">
            <nav class="menu">
                <div class="icon-list">
                    <a href="@Url.Action("Index","Home")"><i class="fa fa-fw fa fa-building ev"></i><span class="ev">EasyVpyska</span></a>
                    
                    @(Html.Action("PartialAuthenticated", "Layout"))                                               

                    @RenderSection("Menu")       
                    <a href="#" id="feedback"><i class="fa fa-fw fa-envelope-o"></i><span>Feedback</span></a>
                    <a href="#" id="about"><i class="fa fa-fw fa-comment-o"></i><span>About</span></a>                           
                    @(Html.Action("PartialLogOut", "Layout"))
                    
                </div>
            </nav>
            <button class="close-button" id="close-button">Close Menu</button>
        </div>       
        <button class="menu-button" id="open-button" title="Open Menu"></button>

        @RenderSection("Title", false)      
        
        @RenderBody()
    </div>

    @{Html.RenderPartial("LogIn");}
    @{Html.RenderPartial("Feedback");}
    @{Html.RenderPartial("About");}

    @System.Web.Optimization.Scripts.Render("~/bundles/LayoutPage")
    @RenderSection("Scripts", false)
</body>

</html>
