﻿@model System.Web.Mvc.HandleErrorInfo
@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles{  
    @System.Web.Optimization.Styles.Render("~/bundles/error")
}

@section Menu{
    <a href="@Url.Action("Index","CreateAd") "><i class="fa fa-fw fa fa-plus"></i><span>Create an ad</span></a>
    <a href="@Url.Action("Index","SearchAd") "><i class="fa fa-fw fa fa-search"></i><span>Search an ad</span></a>
    <a href="@Url.Action("Index","Map")"><i class="fa fa-fw fa fa-globe"></i><span>Look ads at map</span></a>
    <a href="#"><i class="fa fa-fw fa-comment-o"></i><span>About</span></a>
}

@section Title{
    <div class="pageTitle">
        <h1>WELCOME TO ERROR PAGE!!</h1>
    </div>
}

<div class="error-body">
   <p>Oops, we have some problems =(</p>
    <p>@Model.Exception.Message</p>
</div>

    
    