﻿@{   
    int? ads = ViewBag.Ads ?? 1;
    
    int? count = ViewBag.Count ?? default(int?);
    List<EasyVpyska.Entities.Ad> listAds = ViewBag.ListOfAds;

    bool? LoginedUser = ViewBag.LoginUser ?? false;
    int? UserId = ViewBag.idLoginUser ?? default(int?);
    
    }
    
<input type="hidden" id="nextAds" value=@ads>
<input type="hidden" id="allAds" value=@count>
    @if(listAds != null)
    {
        foreach (var l in listAds)
        {
            if ((LoginedUser == true) && (UserId == l.Author.Id))
            { 
            <div class="ad">
                <input type="hidden" id="AdId" value=@l.Id>
                <div class="user-actions"> 
                    <span id="suitable" data-id="@l.Id">Suitable ads&ensp;<i class="fa fa-binoculars"></i></span>
                </div>  
                <span id="city">@l.Town</span>
                <p id="date">@l.BeginTime.ToString("dd.MM.yyyy") - @l.EndTime.ToString("dd.MM.yyyy")</p>
                <p class="title"><a class="title" href="/AdDetails/index/@l.Id">@l.Title</a></p>
                <div id="text">@l.Description</div>
                @if(l.IsActive)
                {
                  <span class="status-en">ACTIVE</span>                    
                }
                else
                {
                    <span class="status-dis">INACTIVE</span>
                }               
                <span class="views">Viewers: @l.Views </span>
                <div class="user-actions">
                    @if (l.IsActive)
                    { 
                       <span id="disable" data-id="@l.Id" >Disable&ensp;<i class="fa fa-eye-slash"></i></span>
                    }
                    else 
                    {
                        <span id="enable" data-id="@l.Id">Enable&ensp;<i class="fa fa-eye"></i></span>
                    }            
                    
                    @*<span id="delete" data-id="@l.Id">Delete&ensp;<i class="fa fa-trash"></i></span>*@    
                </div>           
                @if (l.Subscribers.Count > 0)
                {
                <p style="margin:0 0 0 15px; font-size: 14px;">
                    Your subscribers:
                    @foreach (var s in l.Subscribers)
                    {
                        if(l.Subscribers.Count > 1)
                        { 
                            <a class="subscribers" href="/User/Index/@s.UserId"> @s.Name,</a>
                        }
                        else
                        { 
                            <a class="subscribers" href="/User/Index/@s.UserId">@s.Name</a>
                        }
                    }
                </p>
                }     
            </div>        
            }
            else      
            {
                <div class="ad">
                    <input type="hidden" id="AdId" value=@l.Id>
                    <span id="city">@l.Town</span>
                    <p id="date">@l.BeginTime.ToString("dd.MM.yyyy") - @l.EndTime.ToString("dd.MM.yyyy")</p>
                    <p class="title"><a class="title" href="/AdDetails/index/@l.Id">@l.Title</a></p>
                    <div id="text">@l.Description</div>           
                </div>
            }
        
        }     
    }
    @if ((count != null) && (listAds.Count >0))
    {
        <div class="next" >
            <button type="button" class="button button--wayra-m button--border-thick button--text-upper button--size-xs" id="next-button">Show next ads</button>
        </div>
    }
    else
    { 
        <div class="ad">
            <p style="text-align:center">Sorry, you haven`t ads</p>   
        </div>
    }
