﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    EasyVpyska.Entities.User user=ViewBag.User;
}

@section Styles{
    @System.Web.Optimization.Styles.Render("~/bundles/edit")
}

@section Menu{
    <a href="@Url.Action("Index","CreateAd") "><i class="fa fa-fw fa fa-plus"></i><span>Create an ad</span></a>
    <a href="@Url.Action("Index","SearchAd") "><i class="fa fa-fw fa fa-search"></i><span>Search an ad</span></a>
    <a href="@Url.Action("Index","Map")"><i class="fa fa-fw fa fa-globe"></i><span>Look ads at map</span></a>
}

@section Title{
    <div class="pageTitle">
        <h1>EDIT PROFILE</h1>
    </div>
}

<form class="cmxform" id="commentForm" method="get" enctype="multipart/form-data">

    <fieldset id="no-border">
        <div class="wrapp">
            <form enctype="multipart/form-data" method="post">
                <div class="in">

                    <span class="input input--kozakura">
                        <input class="input__field input__field--kozakura" type="password" name="password" id="password" />
                        <label class="input__label input__label--kozakura" for="password">
                            <span class="input__label-content input__label-content--kozakura" data-content="password">Password</span>
                        </label>
                        <svg class="graphic graphic--kozakura" width="300%" height="100%" viewBox="0 0 1200 60" preserveAspectRatio="none">
                            <path d="M1200,9c0,0-305.005,0-401.001,0C733,9,675.327,4.969,598,4.969C514.994,4.969,449.336,9,400.333,9C299.666,9,0,9,0,9v43c0,0,299.666,0,400.333,0c49.002,0,114.66,3.484,197.667,3.484c77.327,0,135-3.484,200.999-3.484C894.995,52,1200,52,1200,52V9z" />
                        </svg>
                    </span>

                    <span class="input input--kozakura">
                        <input class="input__field input__field--kozakura" type="password" name="passwordRepeat" id="passwordRepeat" />
                        <label class="input__label input__label--kozakura" for="passwordRepeat">
                            <span class="input__label-content input__label-content--kozakura" data-content="repeat password">Repeat password</span>
                        </label>
                        <svg class="graphic graphic--kozakura" width="300%" height="100%" viewBox="0 0 1200 60" preserveAspectRatio="none">
                            <path d="M1200,9c0,0-305.005,0-401.001,0C733,9,675.327,4.969,598,4.969C514.994,4.969,449.336,9,400.333,9C299.666,9,0,9,0,9v43c0,0,299.666,0,400.333,0c49.002,0,114.66,3.484,197.667,3.484c77.327,0,135-3.484,200.999-3.484C894.995,52,1200,52,1200,52V9z" />
                        </svg>
                    </span>
                </div>

                <div class="in">
                    <span class="input input--kozakura">
                        <input class="input__field input__field--kozakura" type="text" name="name" id="name" value="@user.FirstName" />
                        <label class="input__label input__label--kozakura" for="name">
                            <span class="input__label-content input__label-content--kozakura" data-content="First Name">First Name</span>
                        </label>
                        <svg class="graphic graphic--kozakura" width="300%" height="100%" viewBox="0 0 1200 60" preserveAspectRatio="none">
                            <path d="M1200,9c0,0-305.005,0-401.001,0C733,9,675.327,4.969,598,4.969C514.994,4.969,449.336,9,400.333,9C299.666,9,0,9,0,9v43c0,0,299.666,0,400.333,0c49.002,0,114.66,3.484,197.667,3.484c77.327,0,135-3.484,200.999-3.484C894.995,52,1200,52,1200,52V9z" />
                        </svg>
                    </span>
                    <span class="input input--kozakura">
                        <input class="input__field input__field--kozakura" type="text" name="surname" id="surname" value="@user.SurName" />
                        <label class="input__label input__label--kozakura" for="surname">
                            <span class="input__label-content input__label-content--kozakura" data-content="Surname">Surname</span>
                        </label>
                        <svg class="graphic graphic--kozakura" width="300%" height="100%" viewBox="0 0 1200 60" preserveAspectRatio="none">
                            <path d="M1200,9c0,0-305.005,0-401.001,0C733,9,675.327,4.969,598,4.969C514.994,4.969,449.336,9,400.333,9C299.666,9,0,9,0,9v43c0,0,299.666,0,400.333,0c49.002,0,114.66,3.484,197.667,3.484c77.327,0,135-3.484,200.999-3.484C894.995,52,1200,52,1200,52V9z" />
                        </svg>
                    </span>
                </div>

                <div class="center">
                    @*<input id="date-of-birth" class="fs-anim-lower" name="q4" type="date" placeholder="01.01.2016" required />*@
                    <span class="input-s input--kozakura">
                        <input class="calend input__field input__field--kozakura" type="text" name="date_of_birth" id="date-of-birth" value="@user.DateOfBirth.ToString(@"MM\/dd\/yyyy")" />
                        <label class="input__label input__label--kozakura" for="ArrivalDate">
                            <span class="input__label-content input__label-content--kozakura" data-content="Date of birth">Date of birth</span>
                        </label>
                        <svg class="graphic graphic--kozakura" width="300%" height="100%" viewBox="0 0 1200 60" preserveAspectRatio="none">
                            <path d="M1200,9c0,0-305.005,0-401.001,0C733,9,675.327,4.969,598,4.969C514.994,4.969,449.336,9,400.333,9C299.666,9,0,9,0,9v43c0,0,299.666,0,400.333,0c49.002,0,114.66,3.484,197.667,3.484c77.327,0,135-3.484,200.999-3.484C894.995,52,1200,52,1200,52V9z" />
                        </svg>
                    </span>
                </div>

                <div class="in">
                    <span class="input input--kozakura">
                        <input class="input__field input__field--kozakura" type="email" name="email" id="email" value="@user.Email" />
                        <label class="input__label input__label--kozakura" for="email">
                            <span class="input__label-content input__label-content--kozakura" data-content="Email">Email</span>
                        </label>
                        <svg class="graphic graphic--kozakura" width="300%" height="100%" viewBox="0 0 1200 60" preserveAspectRatio="none">
                            <path d="M1200,9c0,0-305.005,0-401.001,0C733,9,675.327,4.969,598,4.969C514.994,4.969,449.336,9,400.333,9C299.666,9,0,9,0,9v43c0,0,299.666,0,400.333,0c49.002,0,114.66,3.484,197.667,3.484c77.327,0,135-3.484,200.999-3.484C894.995,52,1200,52,1200,52V9z" />
                        </svg>
                    </span>
                    <span class="input input--kozakura">
                        <input class="input__field input__field--kozakura" type="text" name="phone" id="phone" value="@user.Phone" />
                        <label class="input__label input__label--kozakura" for="phone">
                            <span class="input__label-content input__label-content--kozakura" data-content="Phone">Phone</span>
                        </label>
                        <svg class="graphic graphic--kozakura" width="300%" height="100%" viewBox="0 0 1200 60" preserveAspectRatio="none">
                            <path d="M1200,9c0,0-305.005,0-401.001,0C733,9,675.327,4.969,598,4.969C514.994,4.969,449.336,9,400.333,9C299.666,9,0,9,0,9v43c0,0,299.666,0,400.333,0c49.002,0,114.66,3.484,197.667,3.484c77.327,0,135-3.484,200.999-3.484C894.995,52,1200,52,1200,52V9z" />
                        </svg>
                    </span>

                </div>

                <div class="center">
                    <span class="input input--kozakura">
                        <input class="input__field input__field--kozakura" type="text" name="address" id="address" value="@user.Address @user.Town @user.Country" />
                        <label class="input__label input__label--kozakura" for="address">
                            <span class="input__label-content input__label-content--kozakura" data-content="address">Address</span>
                        </label>
                        <svg class="graphic graphic--kozakura" width="300%" height="100%" viewBox="0 0 1200 60" preserveAspectRatio="none">
                            <path d="M1200,9c0,0-305.005,0-401.001,0C733,9,675.327,4.969,598,4.969C514.994,4.969,449.336,9,400.333,9C299.666,9,0,9,0,9v43c0,0,299.666,0,400.333,0c49.002,0,114.66,3.484,197.667,3.484c77.327,0,135-3.484,200.999-3.484C894.995,52,1200,52,1200,52V9z" />
                        </svg>
                    </span>
                </div>

                <div class="in">
                    <div class="textarea textarea--kozakura">
                        <textarea class="textarea__field textarea__field--kozakura" rows="3" cols="45" name="description" id="description" style="resize: none;">@user.About</textarea>
                        <label class="textarea__label textarea__label--kozakura" for="description">
                            <span class="textarea__label-content textarea__label-content--kozakura" data-content="description">Description</span>
                        </label>
                        <svg class="textarea-graphic textarea-graphic--kozakura" width="400%" height="400%" viewBox="0 0 1200 160" preserveAspectRatio="none">
                            <path d="M1200,9c0,0-305.005,0-401.001,0C733,9,675.327,4.969,598,4.969C514.994,4.969,449.336,9,400.333,9C299.666,9,0,9,0,9v43c0,0,299.666,0,400.333,0c49.002,0,114.66,3.484,197.667,3.484c77.327,0,135-3.484,200.999-3.484C894.995,52,1200,52,1200,52V9z" />
                        </svg>
                    </div>
                </div>

                <div class="center">
                    <p> ADD PHOTO TO YOUR PROFILE:</p>
                    <div class="crop-image-wrapper">
                        <img id="avatar" src="@ViewBag.Image">
                    </div>
                </div>

                <div class="space"></div>

                <div class="center">

                    <input type="file" id="photo" name="photo" accept="image/*,image/jpeg" />

                </div>
                <div class="space"></div>
                <div class="center">
                    <button type="button" class="button button--wayra-s button--border-thick button--text-upper button--size-xs" id="send-btn">SAVE</button>
                </div>
            </form>
        </div>
        <div class="large-space"></div>
    </fieldset>

</form>

@section Scripts{

    <script src="https://maps.googleapis.com/maps/api/js?sensor=false&libraries=places&language=en"></script>

    @System.Web.Optimization.Scripts.Render("~/bundles/editScripts")

}
