﻿.distance {
height:50px;
}
#map-canvas {
/*margin-left:16%;
margin-right:13%;*/
height:87%;
}
.pageTitle h1 {
	padding: 20px 0 0 0;
    margin:0;
    color: white;
	text-align: center;
    width:100%;
}